.new_vehicle_title_page {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.new_vehicle {
    display: flex;
    flex-direction: row;
}

.new_vehicle_left_container {
    width: 20%;    
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    margin-top: 100px;
}

.new_vehicle_right_container {
    width: 80%;
    margin-left: 20%;
}

.new_vehicle_card {
    border: 1px solid black;
    width: 350px;
    margin: 10px;
    list-style: none;
    margin-bottom: 30px;
    margin-right: 80px;
}
.new_vehicle_card:hover {
    border: 3px solid var(--blue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-suz {
    background-image: url('/img/logo/losange_suz.svg');
}

.logo-kymco {
    background-image: url('/img/logo/losange_kymco.svg');
}

.new_vehicle_card_header {
    background-position: center;
    background-size: cover;
    height: 30px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: -35px;
    left: -65px;
}

.new_vehicle_card_header_name {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding-left: 70px;
    height: 30px;
    padding-top: 3px;
}

.new_vehicle_card_footer{
    background-color: var(--blue);
    width: 100px;
    height: 30px;
    text-align: center;
    align-items: center;
    position: relative;
    top: -15px;
    right: -275px;
}

.new_vehicle_card_footer_price {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 3px;
}

.new_vehicle_card_list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 75px;
}

.new_vehicle_filter_form_container{
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 3px;
    border-radius: 15px;
    border-color: var(--blue);
    margin-left: 20px;
}

.new_vehicle_filter_form_input {
    height: 50px;
    width: 300px;
    text-transform: uppercase;
    border: solid 1px;
    border-radius: 15px;
    margin-top: 20px;
}
.new_vehicle_filter_form_input:hover {
    outline: none;
    border: 3px solid var(--blue);
}

.new_vehicle_filter_form_input_checkbox_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
