{% extends "layout.html.twig" %}

{% block main %}
    <div class='admin-home-menu'>
        <a class='admin-home-menu-card'>
            <h2 class='admin-home_little_title'>ADMINISTRATEUR</h2>
            <p class='admin-home-card-description'>Gérer les administrateurs</p>
        </a>
        <a class='admin-home-menu-card' href="{{ path('AdminActuality') }}">
            <h2 class='admin-home_little_title'>ACTUALITES</h2>
            <p class='admin-home-card-description'>Créer ou supprimer des actualités</p>
        </a>
        <a class='admin-home-menu-card' href="{{ path('AdminNewVehicle') }}">
            <h2 class='admin-home_little_title'>VEHICULES NEUFS</h2>
            <p class='admin-home-card-description'>Créer / Modifier / Supprimer <br>
            des véhicules neufs</p>
        </a>
        <a class='admin-home-menu-card' href="{{ path('AdminUsedVehicle') }}">
            <h2 class='admin-home_little_title'>VEHICULES D'OCCASIONS</h2>
            <p class='admin-home-card-description'>Créer / Modifier / Supprimer <br>
            des véhicules d'occasions</p>
        </a>
        <a class='admin-home-menu-card'>
            <h2 class='admin-home_little_title'>CONTACT</h2>
            <p class='admin-home-card-description'>Gérer les messages des utilisateurs</p>
        </a>
    </div>
{% endblock %}