<div class='adminNavBar'>
    <a class='adminNavLink' href="{{ path('Admin') }}">Accueil</a>
    <a class='adminNavLink' href="{{ path('AdminActuality') }}">Actualités</a>
    <a class='adminNavLink' href="{{ path('AdminNewVehicle') }}">Véhicules neufs</a>
    <a class='adminNavLink' href="{{ path('AdminUsedVehicle') }}">Véhicules d'occasions</a>
    <a class='adminNavLink'>Administrateurs</a>
</div>