<div class="footer-informations">
    <div class="footer-hours">
        <p class='footer-title'>Horaires</p>
        <p class='footer-text'>Mardi – Vendredi : 9h-12h45 // 14h-17h15</p>
        <p class='footer-text'>Samedi : 9h-12h45 // 14h-18h30</p>
    </div>
    <div class="footer-contact">
        <p class='footer-title'>Contact</p>
        <p class='footer-text'>Tél. : 01.42.59.67.55</p>
        <p class='footer-text'>Adresse : 93 rue Championnet, 75018 Paris</p>
    </div>
    <div class="footer-accessibility">
        <p class='footer-title'>Accessibilité</p>
        <p class='footer-text'>Métro ligne 4 : Porte de Clignancourt</p>
        <p class='footer-text'>Métro ligne 12 : Jules Joffrin</p>
    </div>
</div>
<div class="footer-legal">
    <p class='footer-legalText'>Informations légales</p>
    <p class='footer-legalText'>Politique de confidentialité</p>
</div>
