/* === PAGE TITLE SECTION === */
.adminUsedVehicleTitlePage {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.adminUsedVehicleTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adminUsedVehicleTitle {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

/* === ADD BUTTON STYLE === */
.buttonAddUsedVehicle {
    border: solid 1px black;
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--blue);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

/* === VEHICLE CARD LIST === */
.adminUsedVehicleContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
}

/* === VEHICLE CARD STYLE === */
.adminUsedVehicleCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: solid 1px;
    border-radius: 10px;
    text-decoration: none;
}

.adminUsedVehicleCard:hover {
    background-color: lightgray;
    transition: 0.2s;
}

/* === DELETE BUTTON STYLE === */
.adminUsedVehicleDeleteButtonContainer {
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: solid 1px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #FC4F4F;
}

.adminUsedVehicleDeleteButtonContainer:hover {
    background-color: red;
    transition: 0.2s;
}
