footer {
    background-color: black;
    color: white;
    width: 100%;
    bottom: 0;
}

/* ========== Informations générales ========== */
.footer-informations {
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
}

/* ========== Blocs horaires, contact, accessibilité ========== */
.footer-hours,
.footer-contact,
.footer-accessibility {
    margin-top: 20px;
}

/* ========== Titres et textes ========== */
.footer-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -5px;
}

.footer-text {
    font-size: 12px;
    margin-bottom: -5px;
}

/* ========== Lien texte légal ========== */
.footer-legalText {
    color: white;
    text-decoration: none;
}

/* ========== Mentions légales ========== */
.footer-legal {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 10px;
}

/* ========== Responsive ========== */
@media screen and (max-width: 767px) {
    .footer-informations {
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 30px;
    }

    footer {
        padding: 20px 10px;
    }

}
