.info-banner {
    background-color: #272727;
    color: white;
    display: flex;
}

.info-banner-text {
}

.info-banner-social {
    display: flex;
    list-style: none;
}

.navbar {
    background-color: #272727;
    color: white;
}

.navbar-list {
    display: flex;
    list-style: none;
    display: flex;
    flex-direction: row;
}